.content h1 {
    font-size: 60px;
}

.content h2 {
    font-size: 45px;
}

#fpt {
    height: calc(100vh - 140px);
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
}

#fpt a {
    position: absolute;
    bottom: 70px;
    right: 50;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
}