@font-face {
    font-family: 'Product Sans Black Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Black Regular'), url('fonts/ProductSans-Black.woff') format('woff');
    }


.theme-light {
    --color-primary: #cacacab6;
    --color-secondary: #ffffff;
    --color-accent: #4444444d;
    --color-focus: #4444444b;
    --font-color: #000000;
    transition: ease-in-out 250ms;
}
.theme-dark {
    --color-primary: #3b3b3bad;
    --color-secondary: #000000;
    --color-accent: #d3d3d31e;
    --color-focus: #d3d3d32f;
    --font-color: #ffffff;
    transition: ease-in-out 250ms;
}


::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--color-primary);
    border-radius: 10px;
}

*{
    font-family:'Product Sans Black Regular';
    font-weight:normal;
}

html{
    background-color: var(--color-secondary);
    color: var(--font-color);
    height: 100%;
    width: 100%;
    
}

#body{
    margin: 0;
    height: 100%
}
#hh{
    display: flex;
    justify-content: center;
    
}

.container{
    width: 80%;
    margin: 0 auto;
    position: fixed;
    margin-top: 7px;
}

.nav{
    background-color: var(--color-primary);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-transform: uppercase;
    list-style: none;
    padding: 10px;
}

.nav a{
    text-decoration: none;
    color: var(--font-color);
}

#title{
    color: var(--font-color);
    font-size: 23px;
    margin: 0 0;
    cursor: pointer;
}

#content{
    color: var(--font-color);
}

header{
    height: 60px;
}
