.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.text{
    margin: 0;
    text-align: left;
}

h1.text{
    font-size: 10vw;
}

h2.text{
    font-size: 8vw;
}

@media screen and (pointer:none) {
    html{
        background-color: cornsilk;
    }
}