html{
    background-color: black;
    color: white;
    font-family: "Product Sans Black Regular";
    height: 100%;
    
}

body{
    height: 100%;
    margin: 0;
    -webkit-transition: all 0.2s ease-in-out;
}

#content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

h1{
    font-size: 150px;
    margin: 0;
}

h2{
    margin: 0;
    font-size: 15vw;
}

#toggle{
    background-color: rgba(0, 255, 0, 0.842);
    font-family: "Product Sans Black Regular";
    font-size: 4.5vw;
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 7px;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    align-self: center;
    max-width: 250px;
    max-height: 250px;
}
#toggle:hover{
    outline: none;
    background-color: green;
    -webkit-transition: all 0.2s ease-in-out;

}

#toggle:focus{
    outline: 0;
}