h3{
    margin: 0 0;
    align-self: start;
    margin-left: 10px;
}

#div0{
    width: 90%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.touch{
    background-color: rgb(255, 255, 255);
    font-size: 4.8vw;
    padding: 10px;
    border-radius: 6px;
    border: none;
    transition: ease-in-out 500ms;
}

.touch:hover{
    background-color: rgba(255, 255, 255, 0.774);
    transition: ease-in-out 500ms;
}

.touch:focus{
    outline: none;
}

#btn{
    background-color: rgba(255, 0, 0, 0.863);
}

#list{
    list-style: none;
    font-size: 2vw;
    margin: 0 0;
    padding: 0 0;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 40vw;
    display: flex;
    background-color: rgba(255, 255, 255, 0.185);
    padding: 10px;
    border-radius: 6px;
    flex-direction: column;
    align-items: center;
}

.tasken{
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 6px;
    width: 95%;
    margin: 5px;
    word-wrap: break-word;
    cursor: pointer;
    transition: ease-in-out 500ms;
}

.tasken:hover{
    background-color: rgba(255, 255, 255, 0.164);
    transition: ease-in-out 500ms;
}

#input{
    width: 40vw;
    min-width: fit-content;
}

